body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1400px;
  margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(39, 62, 68, 0.6), rgba(39, 62, 68, 0.8)), url("../images/hero-background.png");
    text-align: center;
    padding: 280px 30px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h3 {
    font-weight: 900;
    font-size: 24;
    margin: 0;
    letter-spacing: 5px;
    line-height: 1.5;
    text-transform: uppercase;
}

header h1 {
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
    line-height: 1;
}

header h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
}

header a { 
    display: inline-block;
    margin-top: 32px;
    margin-top: 60px;
    padding: 15px 20px;
    background-color: white;
    color: #272044;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

footer {
    margin-top: 100px;
    color: white;
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39,32, 68, 0.7)), url("../images/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-column-gap: 30px;
}

footer section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px;
}

footer h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    opacity: 0.6;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
    line-height: 24px;
    opacity: 0.6;
}

footer a:hover {
    opacity: 0.8;
}

@media (max-width: 900px) {
    header {
        padding: 60px 0;
    }
    header h3 {
        font-size: 16px;
      
    }
    
    header h1 {
        font-size: 46px;
    } 
    
    header h2 {
        font-size: 20px;
    }
    
}