body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-gap: 30px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}

section {
    margin: 0 auto;
    padding: 100px 100px;
}

.secondary-section {
    background: #F8F8F8;
}

.img-responsive {
    width: 100%;
    display: block;
    aspect-ratio: 1/1.3;
}

.gallery-img {
    width: 100%;
    display: block;
    aspect-ratio: 4/5;
}

.embed {
    width: 100%;
    aspect-ratio: 1 / 1.3;
}

.text-center {
    text-align: center;
}

header {
    background-image: linear-gradient(rgba(39, 62, 68, 0.6), rgba(39, 62, 68, 0.8)), url("../images/dawn-seaside.jpg");
    text-align: center;
    padding: 280px 30px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h3 {
    font-weight: 900;
    font-size: 24;
    margin: 0;
    letter-spacing: 5px;
    line-height: 1.5;
    text-transform: uppercase;
}

header h1 {
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
    line-height: 1;
}

header h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
}

header a { 
    display: inline-block;
    margin-top: 32px;
    margin-top: 60px;
    padding: 15px 20px;
    background-color: white;
    color: #272044;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

main h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: 0.3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 18px;
}

main h5 {
    font-size: 24px;
    color: #272044;
    font-weight: 700;
    margin: 0;
}

main h6 {
    font-size: 13px;
    color: #272044;
    font-weight: 700;
    margin: 0;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272044;
    opacity: 0.7;
}

main .text-img {
    width: 100%;
    display: block;
    aspect-ratio: 4 / 5;
}

.card {
    box-shadow: 20px 20px 40px rgba(198, 198, 198, 0.2);
    margin-top: 50px;
    background: white;
    display: flex;
    flex-direction: column;
}

.card-header.grid {
    grid-gap: 0;
}

.card-body {
    padding: 24px 32px;
    flex: 1;
    
}

.card-footer {
    padding: 30px 30px;
    
}

.btn {
    background: #462CB3;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    padding: 16px 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 0 auto;
}

footer {
    margin-top: 100px;
    color: white;
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39,32, 68, 0.7)), url("../images/pool-barbecue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    opacity: 0.6;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
    line-height: 24px;
    opacity: 0.6;
}

footer a:hover {
    opacity: 0.8;
}

@media (max-width: 960px) {

    container {
    max-width: 100%;
    }

    section {
        padding: 30px;
    }

    header {
        padding: 60px 0;
    }

    header h3 {
        font-size: 16px;
    }
    
    header h1 {
        font-size: 46px;
    } 
    
    header h2 {
        font-size: 20px;
    }

    main h3 {
        font-size: 24px;
    }

    main h4 {
        font-size: 10px;
    }

    main .text-img {
        display: block;
        margin: 0 auto;
    }

    .grid-2-columns {
        grid-template-columns: 1fr;
    }

    .grid-3-columns-first-narrow {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .grid-3-columns {
        grid-template-columns: 1fr;
    }

    .embed {
        display: none;
    }

    .img-responsive, .gallery-img {
        width: 300px;
        display: block;
        margin: 0 auto;
    }

    footer {
        padding: 30px 0;
    }

    footer h4 {
        font-size: 16px;
    }

    footer p {
        font-size: 14px;
    }
    
    
}